*{
    font-family: 'Mulish', sans-serif;
}
body{
    margin: 0;
    background: #085078;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img{
    width: 200px;
    margin-top: 20px;
}
.header__menu{
    margin-right: 30px;
  
}
.header__menu ul{
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: end;
    margin: 0px 0px 0px -20px;
    
}
.header__menu:hover ul, ul:hover{
    display: block ;

}

.header__menu li{
    margin: 20px 0px
}
.header__menu li a{
    color: white;
    text-decoration: none;
}
.header__menu li a:hover{
    text-decoration: underline;
}

.header__menu--profile{
    margin-right: 14px;
    height: 30px;
    display: flex;
    align-items: center;   
}
.header__menu--profile img{
    margin-right: 8px;
    width: 40px;
}
.header__menu--profile p{
    margin: 0px;
    color: white;
}

.main{
    height: 300px;
    position: relative;
    left: 10px;
    text-align: center;
    padding-top: 100px;
}

.main__title{
color: white;
font-size: 25px;
font-weight: 300;
}

.input{
    border:  2px solid white;
    border-radius: 25px;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.1) ;
    outline: none;

}
.input:focus{
    box-shadow: 0 0 3pt 2pt rgb(255, 255, 255);
}
::placeholder{
    color: white;
}
.categories__title{
color: white;
font-weight: bold;
position: absolute;
padding-left: 30px;
width: 100%;
}
.carousel{
    width: 100%;
    overflow: scroll;
    padding:30px;
    position: relative;
}
::-webkit-scrollbar{
    overflow: hidden;
}
.carousel::-webkit-scrollbar {
    width: 1em;
}

.carousel::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.carousel::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.carousel__container{
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom:10px ;
}
.carousel-item{
    background-color: white;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right:10px ;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin:center left ;
    position: relative;
}
.carousel-item:hover ~ .carousel-item{
    transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item{
    opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover{
    transform: scale(1.5);
    opacity: 1
}
.carousel-item__img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.carousel-item__details{
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0)100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 25;
    left: 0;
    right: 0;
    bottom: 0;
}
.carousel-item__details:hover{
    opacity: 1;
}
.carousel-item__details--title, .carousel-item__details--subtitle{
    color: white;
}
.carousel_item--icons img{
width:35px;
}
.footer{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    
}
.footer a{
    color: white;
    text-decoration: none;
    font-size: 14;
    cursor: pointer;
    padding: 0px 20px;
}
.footer a:hover{
    text-decoration: underline;
}
.tendencia{
    color: white;
}
.carousel__tendencia{
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom:10px ;
}
.carousel__tendencia:hover .carousel-item{
    opacity: 0.3;
}
.carousel__tendencia:hover .carousel-item:hover{
    transform: scale(1.5);
    opacity: 1
}
@media only  screen and (max-width:600px){
    .login__container{
    border: none;
    padding: 0;
    box-shadow: none;
    background-color: transparent;
    }
    .footer{
        align-items: flex-start;
        flex-direction: column;
    }
    .footer a{
        padding-bottom: 10px;
    }
    .registro__container{
        border: none;
        padding: 0;
        box-shadow: none;
        background: transparent;
    }
}
.main__container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
}
.main__container h2{
    padding-bottom:150px;
    color: white;
    font-weight: 200;
}
.text{
    font-size: 90px;
    color: white;
    font-weight: 700;
}
.animated{
    animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
  }
  .pulse {
    animation-name: pulse;
    animation-duration: 1s;
  }